# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# SSH Keys
*.pem

# Ansible
*.retry

# OS
.DS_Store